<launch>
<!--
Usage:
1. fire up this launch file
2. modify the value in goal_x and goal_y according to what you got by reading
   PoseStamped goal topic.
-->
  <node pkg="goal_publisher" type="goal_pub" name="goal_pub" >
    <rosparam param="goal_x" subst_value="True" >0.0</rosparam>
    <rosparam param="goal_y" subst_value="True" >5.0</rosparam>
  </node>
</launch>
