<launch>
<!--
this launch file is used for testing the SBPL's AD* planner.
This file is dedicated to simulation with Gazebo. There will be
its sister launch files coming up to run beebot in the actual world.

Usage:

1. Launch beebot_2d_planner_node. It runs on ADStar and RSTAR
   algorithm. By default it runs on ADStar. If you need switch 
   to one of both planners, add
   <param name="planner_type" value="[desired_planner]"/> within
   the node tag.

2. Change the map_file tag to the desired map directory. If you load
   in the .world file with the wrong format, Gazebo will launch neither
   the robot nor the map.
-->

  <param name="/use_sim_time" value="true" />
  
  <!-- fire up Gazebo and Rviz for simulation and visualization-->
  <include file="$(find simulation_tobot)/beebot_control/launch/beebot_control.launch">
     <arg name="world_file" value="$(find simulation_tobot)/maps/my_2nd_test_map.world" />
     <arg name="rvizconfig" value="$(find mobile_safeguard_primitive)/launch/navigation/utils/rviz/motion_planning_display.rviz" />
  </include>

   <!-- Use hector slam instead of gmapping -->

  <include file="$(find mobile_safeguard_primitive)/launch/navigation/utils/SLAM/hector_slam.launch" />

  <!--Gmapping-->
<!--
  <include file="$(find mobile_safeguard_primitive)/launch/gmapping.launch" >
    <arg name="scan_topic" value="/beebot/laser/scan" />
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="30.0"/>
-->
    <!-- Set maxUrange < actual maximum range of the Laser -->
<!--
    <param name="maxRange" value="5.0"/>
    <param name="maxUrange" value="4.5"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.2"/>
    <param name="angularUpdate" value="0.2"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="2000"/>

    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>

    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
  </include>
-->

 
  <!--Fire up teleop -->
   <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard">
     <remap from="/cmd_vel" to="/beebot_diff_drive_controller/cmd_vel" />
   </node>

  <!-- MY PLANNER !! -->
  <!-- TODO-->
</launch>
